examples/n8n-workflow-example.json
{
  "name": "n8n WordPress Integration Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-wordpress-site.com/wp-json/n8n/v1/insert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-Key",
              "value": "your-secure-api-key-here"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $node[\"Webhook\"].json[\"workflow_id\"] }}"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            },
            {
              "name": "metadata",
              "value": "={{ { \"source\": \"n8n-webhook\", \"timestamp\": $now } }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Insert to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"wordpress_id\": $json[\"id\"] } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to WordPress": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
